<div class="dialog-header" fxlayout="row">
  <p class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-2">
    {{title}}</p>
  <button aria-label="close dialog" mat-icon-button="" tabindex="-1" (click)="onNoClick()"
          class="mat-icon-button"><span class="mat-button-wrapper">
      <i cdkFocusInitial class="material-icons close"></i>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>
<mat-form-field class="example-chip-list genre-input" *ngIf="! textfileMode">
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
      {{fruit}}
      <i matChipRemove *ngIf="removable" class="material-icons cancel"></i>
    </mat-chip>
    <input placeholder="New fruit..." #fruitInput (keyup)="onInput()" [formControl]="fruitCtrl" [matAutocomplete]="auto"
           [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let fruit of filteredFruits | async " [value]="fruit">
      {{fruit}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-dialog-content [class.textmode]="textfileMode" style="min-height: 55vh">
  <div class="movies">
    <app-movie-dialog class='newMovie' *ngFor="let movie of movies | async | slice: mCount.start:mCount.end"
    [new]='movie'> 
     <div addCheckbox style="width: 100%; text-align: center;" >
       <mat-checkbox color="primary" class="addCheckbox" [(ngModel)]="movie.selected" (change)="onAdd(movie, $event)">

       </mat-checkbox>
       <!--<input type="checkbox" class="addCheckbox add_to_queue material-icons" [(ngModel)]="movie.selected" (change)="onAdd(movie, $event)">-->
    </div>
    </app-movie-dialog>

    <div infiniteScroll (scrolled)="showMore($event)" [infiniteScrollDistance]="2"
         [infiniteScrollThrottle]="50" [infiniteScrollContainer]="'.mat-dialog-content'"
         [fromRoot]="true">

    </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-fab aria-label="add selected movies" color="primary" id="addFabButton"
          [disabled]="selectedMovies?.length == 0" [mat-dialog-close]="selectedMovies">
          <i class="material-icons done"></i>
      </button>
</mat-dialog-actions>
<!--<button *ngif="mCount.end < 18" mat-stroked-button aria-label="show more" autofocus id="showMore" style="margin: 1em;"-->
<!--(click)='showMore($event)'>Show More-->
<!--</button>-->

      
      
