.newMovie{
  width: 19em;
  margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;
  max-width: 80vw;
}

.mat-dialog-actions {
  /* padding: 12px 0; */
  display: flex;
  height: 10px;
  left: 60vw;
  flex-wrap: wrap;
  margin-bottom: -24px;
}

.mat-fab.mat-accent[disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled] {
  background-color: rgb(91, 91, 91);
}

.genre-input {
  width: 100%;
}

#addFabButton {
  float: right;
  margin-left: auto;
  margin-top: -60px;
}

input.mat-chip-input {
  margin: 0px;
  flex: 1 0 150px;
}

h2.mat-dialog-title {
  font: 500 1.5em/32px Roboto, "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
}

.textmode {
  height: -webkit-calc(100vh - 120px) !important;
  height: calc(100vh - 120px) !important;
  max-height: -webkit-calc(100vh - 170px) !important;
  max-height: calc(100vh - 170px) !important;
}
/*.addCheckbox {
  color:white;
  content: "\e904";
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}
.addCheckbox:checked {
  content: "\e904";
  background-color: indianred;
}
input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;}*/
