<div class="dialog-header" fxlayout="row">
    <p class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-2">
      Change nickname.
    </p>
  <button aria-label="close dialog" mat-icon-button="" tabindex="-1" (click)="onNoClick()" class="mat-icon-button"><span
    class="mat-button-wrapper">
      <i class="material-icons close"></i>
    </span><div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div><div class="mat-button-focus-overlay"></div></button>
  </div>
  
<div mat-dialog-content style="max-width: 98%">
  <p>How should I call you?</p>
  <mat-form-field>
    <input matInput #newName [placeholder]="name ? name : 'Superman'" cdkFocusInitial>{{colorPicker.value}}
  </mat-form-field>
  <br>
  <app-color-picker style="display: flex" #colorPicker></app-color-picker>
</div>

<div mat-dialog-actions style="margin-bottom: -16px">
  <button mat-button (click)='onNoClick()' style="float: right; margin-left: auto">Cancel</button>
  <button mat-button mat-raised-button color="primary" type="submit" style="float: right"
          [mat-dialog-close]="{name: newName.value, color: color}" >Change
  </button>
</div>
