.eventName{
    margin-left: .5em;
    width: 30vw;
    max-width: 200px;
}
#avatar{
    width: 2em;
    height: 2em;
    background: grey;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    float: right;
    margin-right: 2vw;
    line-height: 2em;
    color: white;
    text-align: center;
}
.name{
  order: 2;
  margin-right: 1em;
}
.hello-span{
  margin-left: auto;
}
.mat-dialog-content{
  overflow: hidden;
}

.sliders {
  margin: 10px 20px;
}

