<mat-toolbar>
  <span>movieVote  /</span>
  <div>
      <form class="example-form">
      <mat-form-field class="eventName">
        <label>
          <input readonly aria-label="change event" matInput name="fieldName" ngDefaultControl
                 (click)='openEventDialog()' [(ngModel)]="title">
        </label>
      </mat-form-field>  
      </form>
  </div>

  <div class="hello-span name" id="avatar" (click)='openNameDialog()' [style.background]="user.color">{{user.name |
    slice: 0 : 2}}
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </div>

</mat-toolbar>
