<div class="dialog-header">
  <p class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-2">
    Please enter the event passphrase.
  </p>
  <button mat-icon-button="" aria-label="close dialog" tabindex="-1" (click)="onCancel()" class="mat-icon-button"><span
    class="mat-button-wrapper">
      <i class="material-icons close"></i>
    </span>
  </button>
</div>
<mat-form-field>
  <input matInput #newEvent (keyup)="onKey(newEvent.value)" name="name" placeholder="****">
</mat-form-field>
