
#addFabButton{
    position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 1;
}
#dialogTitle{
  margin-bottom: .5em;
}

/* ---------Align next to search bar---------- */
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) {
      .newMovie{
        width: 20em;
      }
}

