<div class="dialog-header" fxlayout="row">
  <p class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-2">
    Add a movie or TV show. </p>
  <button aria-label="close dialog" mat-icon-button="" tabindex="-1" (click)="onNoClick()"
          class="mat-icon-button"><span class="mat-button-wrapper">
      <i class="material-icons close"></i>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>
<mat-dialog-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput #newMovie
          (keyup)="onAdd(newMovie.value)"
          placeholder="Title"
          [matAutocomplete]="auto"
          name="title">
          <button mat-button *ngIf="newMovie.value" matSuffix mat-icon-button aria-label="Clear" (click)="newMovie.value=''">
            <i class="material-icons close"></i>
          </button>
        <mat-autocomplete #auto="matAutocomplete" md-require-match="true"
        md-select-on-match="true">
            <mat-option (onSelectionChange)="onSelect(item)" *ngFor="let item of movies | async | slice : 0 : 5" [value]="item.title">
              <!-- <img class="example-option-img" aria-hidden [src]="item.poster_path" height="25"> -->
              <span >{{item.title}}</span> 
              <span *ngIf="item.name">{{item.name}} </span> |

              <small>{{item.release_date | date:"yyyy"}}</small> 
              <small *ngIf="item.first_air_date">{{item.first_air_date | date:"yyyy"}}</small> 

              <!-- <small>Points: {{item.popularity}}</small> -->
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </form>

  <app-movie-dialog style="float:right" *ngIf="selectedMovie.popularity" class='newMovie' [new]='selectedMovie' > </app-movie-dialog>
  <!--<mat-checkbox class="example-margin" [(ngModel)]="checked">You have this title available?</mat-checkbox>-->
</mat-dialog-content>
<mat-dialog-actions style="float:right">
  <button mat-button aria-label="cancel" (click)='onCancel()'>Cancel</button>
        <button mat-button mat-raised-button class="mat-primary" [disabled]="!selectedMovie.popularity" [mat-dialog-close]="selectedMovie">Add</button>
</mat-dialog-actions>

