.poster{
    height: 180px;
    width: 120px;
    border-radius: 10%;
    float: left;
    margin-right: 1em;
    margin-bottom: .3em;
    padding-top: 6px;
}

#title{
    margin: 0;
    display: flex;
  font-weight: 500;

}
p{
    margin: 5px;
}
