<div>
    <img class="poster" src="{{new?.poster_path}}" alt="{{new?.poster_path}} Poster of a {{new?.title}}" width="120px"
      height='180px'>
</div>
<div class="description">
  <h2 id="title">{{new?.title}}</h2>
  <small> {{new?.release_date | date: "yyyy "}} - {{new?.media_type}} </small>
  <p>
    {{new?.overview}}
  </p>
  <app-provider *ngIf="new?.title" [id]="new?.id" [title]="new?.title"></app-provider>

</div>
<ng-content select="[addCheckbox]"></ng-content>

