<div *ngIf="loaded" style="margin-left: -44px;" [@movieSlideBack]="slideState.movieSlideBack ? 'ready' : 'isSliding'"
     [@thumbFadeAway]="(slideState.movieSlideAwayLeft || slideState.movieSlideAwayRight) ? 'gone' : 'isSliding'"
     [@movieSlideAwayRight]="slideState.movieSlideAwayRight ? 'gone' : 'isSliding'"
     class="thumbArea" [style.transform]="tX">
  <i [style.transform]="hateScale" [style.color]="color" style="width: auto;" class="material-icons thumb_up"></i>
</div>
<mat-card class="example-card" [style.transform]="tX" style="min-height: 200px; min-width: 230px;"
          [@movieSlideBack]="slideState.movieSlideBack ? 'ready' : 'isSliding'"
          [@movieSlideAwayLeft]="slideState.movieSlideAwayLeft ? 'gone' : 'ready'"
          [@movieSlideAwayRight]="slideState.movieSlideAwayRight ? 'gone' : 'ready'"
          [@reload]="reload ? 'leave' : 'enter'"
          (pan)="hate($event)" (panend)="finishHate($event)" (tap)="love($event)">

  <div *ngIf="loaded; else loading">
    <div >
      <img class="poster lozad" data-src="{{movie?.poster_path}}" draggable="false"
           alt="Poster of a {{movie?.title}}"
           [class.isLoading]="!loaded"
           width="120px" height='180px'>
    </div>
    <div class="head">
      <!--<mat-icon style="float: right; color: deepskyblue">check_circle</mat-icon>-->
      <h2 id="title">{{movie?.title}}</h2>
    <small>{{movie?.vote_average}} - {{movie?.runtime}}min - {{movie?.release_date | date :"yyyy"}} </small>
    <small *ngIf="movie?.name">- tv series</small>
    <br>
    <small *ngIf="movie?.tagline">"{{movie?.tagline}}"</small>
  </div>
  <mat-card-content>
    <p>
      {{movie?.overview }}
    </p>
    <mat-chip-list class="genres">
      <mat-chip *ngFor="let genre of movie?.genres" (click)="openDiscover(genre.name)">
        {{genre.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  </div>
  <ng-template #loading>
    <div >
      <img class="poster" src="data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=" draggable="false"
           alt="Placeholder"
           [class.isLoading]="!loaded"
           width="120px" height='180px'>
    </div>
    <div class="title">
      <div class="isLoading"></div>
      <div class="isLoading"></div>
    </div>
    <div class="isLoading small"></div>
    <div class="overview">
      <div class="isLoading"></div>
      <div class="isLoading"></div>
      <div class="isLoading"></div>
      <div class="isLoading"></div>
      <div class="isLoading"></div>
    </div>
    <mat-chip-list class="genres">
      <mat-chip class="isLoading"></mat-chip>
      <mat-chip class="isLoading"></mat-chip>
      <mat-chip class="isLoading"></mat-chip>

    </mat-chip-list>

  </ng-template>

  <mat-card-actions>
      <div class="buttons">
        <button mat-icon-button (click)='onVote(1)'>
        <i aria-label="Upvote" class="material-icons arrow_upward"></i>
        </button>
        <button mat-button (click)="showVotes()" style="min-width: 9px; margin: 0; padding: 0">{{mRef?.votes}}</button>
        <button mat-icon-button (click)='onVote(-1)'>
          <i aria-label="Downvote" class="material-icons arrow_downward"></i>
        </button>
        <app-provider class="provider" *ngIf="movie?.title" [id]="movie?.id" [title]="movie?.title"
                      (loaded)="providerLoaded($event)"></app-provider>
        <!--<mat-icon *ngIf="hasVoted | async" >done</mat-icon>-->


        <button  mat-flat-button aria-label="view trailer" id="trailer" color='error' (click)='onTrailer()'>Trailer</button>
  </div>

  </mat-card-actions>

</mat-card>
<div class="thumbArea" [style.transform]="tX" style="margin-right: -60px;" [style.display]="!hateIcon ?'none':'inherit'"
     [@movieSlideBack]="slideState.movieSlideBack ? 'ready' : 'isSliding'"
     [@thumbFadeAway]="(slideState.movieSlideAwayLeft || slideState.movieSlideAwayRight) ? 'gone' : 'isSliding'">
  <i [style.transform]="hateScale" [style.color]="color" class="material-icons thumb_down"></i>
</div>

