/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 740px) {
    .example-card {
        width: 90vw!important;
        margin: .75em 2vw !important;
    }
}

        .poster{
            height: 180px;
            width: 120px;
            border-radius: 10%;
            float: left;
            margin-right: 1em;
            margin-bottom: .3em;
            padding-top: 3px;
        }

.example-card {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
    cursor: pointer;
    border-radius: 8px;
}
.example-card p {
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 5px;
}
.mat-raised-button.vote {
    float: right;
    margin: -8px 0 .5em 0;
}
.mat-card-content{
  margin: 10px 3px 0;
}

#trailer{
    float: right;
}
.mat-card-actions {
    display: block;
    margin-left: 0px;
    width: 100%;
    padding-bottom: 1em;
    float: left;

}

#title{
    margin: 0;
  font-weight: 500;
}
.provider{
    display:flex;
  margin-left: auto;
  float: right;
}
.provider img{
    margin-right:.5em;
}
.genres{
    margin: 7px 0 !important;
}

.title > .isLoading {
  height: 1.5em;
  display: flex;
  margin-bottom: 9px;
  margin-right: 10px;
}

.small {
  height: 14px;
  display: flex;
  margin-bottom: 20px;
  margin-right: 15px;
}

.overview > .isLoading {
  height: 15px;
  display: flex;
  margin-bottom: 15px;
}

mat-chip.isLoading {
  width: 90px;
}

.thumbArea {
  border-radius: 4px;
  margin: 1em 20px 1em 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

mat-card:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img[alt]:after {
  display: block;
  width: 180px;
  height: 120px;
  content: attr(alt);
}

