.dropFile {
  height: 200px;
  margin-top: -100px;
}

.mat-dialog-content {

}

app-movie {
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px){
  app-movie {
    width: 50%;
  }
}
