<app-final-ballot></app-final-ballot>
<!--<cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
  <app-movie *cdkVirtualFor="let movie of movieList"
           [mRef]="movie"></app-movie>
</cdk-virtual-scroll-viewport>-->

<div style="display: flex; flex-wrap: wrap;, margin-left: auto;" *ngIf="movieForList.length > 0; else empty" id="movieContainer">
  <app-movie *ngFor="let movie of movieForList | slice : 0 : end; trackBy: trackFn; let i = index"
             [mRef]="movieList[i]" style="display: flex; align-self: flex-start;"
             (movieVoted)="voted($event)"></app-movie>
  <div infiniteScroll (scrolled)="showMore($event)" [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50">


  </div>
</div>
<ng-template #empty>
  <h2 style='font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;'>No movies in here yet. Add some.</h2>
</ng-template>
<app-add-movie></app-add-movie>
<mat-accordion>
  <app-movie-summery *ngFor="let mov of summeryList"
                     [recMovie]="mov"></app-movie-summery>
</mat-accordion>
<div (drop)="drop($event)" (dragover)="allowDrop($event)" class="dropFile"></div>
