<div class="dialog-header" fxlayout="row">
  <p class="mat-dialog-title" mat-dialog-title="" id="mat-dialog-title-2">
    Create new or navigate to excisting events.<br>
  </p>
  <button aria-label="close dialog" *ngIf="!data.createMode" mat-icon-button="" tabindex="-1" (click)="onNoClick()"
          class="mat-icon-button"><span class="mat-button-wrapper">
      <i class="material-icons close"></i>
    </span>
    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>
</div>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div mat-dialog-content >
    <mat-form-field style="margin: 0 20px 20px 0;" [color]="hint.color" appearance="standard">
      <input cdkFocusInitial matInput #newEvent required (keyup)="onKey(newEvent.value)" [(ngModel)]="event.name" name="name"
             placeholder="Your event title">
      <button mat-button *ngIf="newEvent.value" matSuffix mat-icon-button aria-label="Clear"
              (click)="newEvent.value=''">
        <i class="material-icons close"></i>
      </button>
      <mat-hint [style.color]="hint.color">{{hint.msg}}</mat-hint>
      <br>
    </mat-form-field>
    <br>
    <div class="sliders">
      <mat-slide-toggle color="primary" [disabled]="!event.isNew" #private class="example-margin"
                        [(ngModel)]="event.isPrivate" name="isPrivate">Private event
      </mat-slide-toggle>
      <br>
      <mat-hint>Check if you want to limit access to your event.<br>
      </mat-hint>
      <div *ngIf="event.isPrivate">
        <mat-form-field appearance="standard">
          <input type="password" matInput required [(ngModel)]="event.password" name="pwd"
                 placeholder="Passphrase">
        </mat-form-field>
      </div>
    </div>
    <div class="sliders">
      <mat-form-field appearance="standard" style="margin-top: 10px">
        <input [matDatepicker]="picker" matInput [(ngModel)]="event.date" name="date" [disabled]="!event.isNew"
               placeholder="Movienight date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker touchUI [startAt]="startDate"></mat-datepicker>
        <mat-hint>Required for final-ballot</mat-hint>
      </mat-form-field>
    </div>
    <div class="sliders">
      <mat-slide-toggle [disabled]="!event.date || !event.isNew" color="primary" id="final_ballot" class=""
                        [(ngModel)]="event.isFinalBallot" name="isFinalBallot">Final-ballot
      </mat-slide-toggle>
      <br>
      <mat-hint>Toggle if you want to have a second round featuring only the front runners on movie night.</mat-hint>

    </div>

    <!-- <p>How many movies are you going to watch?<br>
    You can adjust the number of votes here.</p>
  <mat-form-field>
    <mat-select [(ngModel)]="event.voteCount" name="voteCount" placeholder="1" >
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
  </mat-form-field> -->

  </div>
  <div mat-dialog-actions>
    <div class="flex"></div>
    <button mat-button (click)='onNoClick()' aria-label="Cancel" [disabled]="data.createMode">Cancel</button>
    <button mat-button mat-raised-button aria-label="create new event" [disabled]="!f.form.valid" [color]="hint.color"
            type="submit">{{create}}
    </button>
  </div>
</form>
