/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body { margin: 0; }
.cdk-overlay-pane{
    width: auto !important;
    min-width: 0;
  max-width: 92vw !important;
    display: table;
}
md-dialog, .mat-dialog-container.mat-dialog-container {
    -webkit-border-radius: 16px!important;
    border-radius: 16px!important;
    max-height: -webkit-calc(100vh - 48px);
    max-height: calc(100vh - 48px);
  font-family: "Roboto", sans-serif;
  padding: 16px 20px 20px;
}

.mat-dialog-content {
  max-height: -webkit-calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  max-width: 98%;
}
div.dialog-header {
    align-items: baseline;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    margin: 0;
}

.mat-button{
    border-radius: 8px!important;
}
.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
small{
    color: grey;
}
.mat-hint{
    font-size: 12px;
}
@font-face {
  font-family: 'Material Icons';
  src:  url('assets/fonts/mVote_Material_Icons.eot?bl1676');
  src:  url('assets/fonts/mVote_Material_Icons.eot?bl1676#iefix') format('embedded-opentype'),
  url('assets/fonts/mVote_Material_Icons.ttf?bl1676') format('truetype'),
  url('assets/fonts/mVote_Material_Icons.woff?bl1676') format('woff'),
  url('assets/fonts/mVote_Material_Icons.svg?bl1676#mVote_Material_Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.close:before {
  content: "\e900";
}
.whatshot:before {
  content: "\1f321";
}
.arrow_upward:before {
  content: "\e901";
}
.arrow_downward:before {
  content: "\e902";
}
.add:before {
  content: "\e903";
}
.add_to_queue:before {
  content: "\e904";
}
.view_list:before {
  content: "\e905";
}
.today:before {
  content: "\e906";
}
.thumb_up:before {
  content: "\e907";
}
.thumb_down:before {
  content: "\e908";
}
.done:before {
  content: "\e909";
}
.material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Arvo';
  font-display: fallback;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
}

@keyframes gloving {
  0% {
    background-color: rgba(255, 255, 255, .05);
  }
  25% {
    background-color: rgba(255, 255, 255, .1);
  }
  50% {
    background-color: rgba(255, 255, 255, .15);
  }
  75% {
    background-color: rgba(255, 255, 255, .20);
  }
  100% {
    background-color: rgba(255, 255, 255, .25);
  }
}
div .mat-dialog-actions {
  margin-bottom: -20px;
}

.isLoading, app-event-dialog {
  animation-name: gloving;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  animation-iteration-count: 70;
  animation-direction: alternate;
}
